html {
    height: 100%;
    font-family: sans-serif;
}

body {
    height: 100%;
}

#main {
    height: 100%;
}

.title {
    font-size: 2em;
    margin: 1em 0 0 0;
    text-align: center;
}

.author {
    font-size: 0.75em;
    text-align: center;
}

#tagsContainer {
    margin: 2em;
    text-align: center;
}

#chartOptionsContainer {
    text-align: center;
}

.selectize-control {
    display: inline;
}

.selectize-input {
    width: 50%;
    font-family: sans-serif;
    text-align: left;
}

.selectize-dropdown {
    font-size: 1em;
    font-family: sans-serif;
    text-align: left;
}

.tag {
    font-family: sans-serif;
    font-size: 1.25em;
}

#showTrendsButton {
    font-size: 1.25em;
    display: inline;
    vertical-align: top;
}

#infoMessage {
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    color: hsl(30, 100%, 50%);
}

#chartContainer {
    display: none;
    width: 100%;
    height: 50%;
    margin-top: 2em;
    border: 1px solid rgba(0, 0, 0, 0.5);
    /*box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);*/
}
