/*******************************************************************************
 * Decks styles
 ******************************************************************************/

html {
    margin: 16px;
}

#main {
    display: flex;
    flex-direction: column;
    /* Ensures the layout is always at least 90% of the viewport height, i.e.
     * full screen height. (I would use 100% if not for the 16px margin on the
     * html element). */
    min-height: 90vh;
}
/* Deck selector */
/******************************************************************************/

div.decks-deck-info-panel {
    display: flex;
    flex-direction: row;
}

div.decks-deck-info-panel div {
    margin: 1em;
}

#deckButtonsPanel {
}

div.decks-drawn-cards-panel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 0 auto;
}

/* Deck generator */
/******************************************************************************/

#deckGenerator {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Card count */
/******************************************************************************/

#cardCountPanel {
    margin: 8px 0;
    padding: 8px;
    display: flex;
    flex-direction: row;
    font-size: 1.25em;
}

#cardCountDisplay {
    margin-left: 16px;
    font-weight: bold;
}

/* Proxy styles */
/******************************************************************************/
div.proxy {
    min-width: 192px;
    min-height: 267px;
    width: 128px;
    height: 178px;
    border: 16px solid #c48060;
    border-radius: 16px;
    background-color: #e8c0a0;
    box-shadow: 2px 2px 4px hsla(0, 0%, 0%, 0.25);
    margin: 1em;
    padding: 1em;
}

p.proxy-item {
}

.proxy-media {
    font-family: serif;
    font-weight: bold;
    background-color: #643830;
    color: hsl(270, 95%, 95%);
    border-radius: 4px;
    margin: 0.2em;
    padding: 0.2em;
}
span.proxy-item-title {
    font-weight: bold;
    font-size: 1.25em;
    background-color: #a46040;
    color: hsl(270, 95%, 95%);
    box-shadow: 1px 1px 2px hsla(0, 0%, 0%, 0.25);
    text-shadow: 2px 2px 0px hsla(0, 0%, 0%, 0.25);
    padding: 0.2em;
}

span.small-title {
    font-size: 0.85em;
}

p.proxy-media-category {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1em;
}

p.proxy-description {
    font-family: serif;
}

p.small-description {
    font-size: 0.9em;
}

/* List mode interface */
/******************************************************************************/
#listAndOptionsPanel {
    margin: 8px;
    padding: 8px;
    display: flex;
    flex-direction: row;
}

#listArea {
    width: 50%;
    padding: 8px;
    font-size: 1.25em;
    resize: none;
}

#listOptions {
    width: 50%;
    display: flex;
    flex-direction: column;
    border: 5px double #643830;
    padding: 0.5em;
    margin: 0 0.5em;
}

#listWarning {
    color: hsl(0, 100%, 50%);
}

/*
@media (max-width: 400px) {
    body {
        font-size: 200%;
    }
}
*/
