/*******************************************************************************
 * Glossary page styles.
 ******************************************************************************/
#searchPanel {
    display: flex;
    flex-direction: column; 
    margin: 1em;
    padding: 1em;
}

#search {
    font-size: 2em;
    font-family: serif;
}

#searchResults {
    display: flex;
    flex-direction: column; 
}


/*******************************************************************************
 * Search result styles
 ******************************************************************************/
div.result-entry {
    border: 5px double #643830;
    /*box-shadow: 2px 2px 4px hsla(0, 0%, 0%, 0.25);*/
    margin: 1em;
    padding: 1em;
}

p.result-item {
}

span.result-item-title {
    font-weight: bold;
    font-size: 1.6em;
    background-color: #643830;
    color: hsl(270, 95%, 95%);
    box-shadow: 1px 1px 2px hsla(0, 0%, 0%, 0.25);
    text-shadow: 2px 2px 0px hsla(0, 0%, 0%, 0.25);
    padding: 0.2em;
}

p.result-aliases {
    font-style: italic;
}

p.result-media-category {
    font-family: serif;
    font-weight: bold;
    font-size: 1.1em;
}

p.result-description {
    font-size: 1.3em;
}


