/*******************************************************************************
 * Glossary page styles.
 ******************************************************************************/
#searchPanel {
    display: flex;
    flex-direction: column; 
    margin: 1em;
    padding: 1em;
}

#search {
    font-size: 2em;
}

#searchResults {
    display: flex;
    flex-direction: column; 
}


/*******************************************************************************
 * Search result styles
 ******************************************************************************/
div.result-entry {
    border: 1px solid hsl(270, 80%, 80%);
    background-color: hsl(270, 90%, 90%);
    box-shadow: 2px 2px 4px hsla(0, 0%, 0%, 0.25);
    margin: 1em;
    padding: 1em;
}

p.result-item {
}

span.result-item-title {
    font-weight: bold;
    font-size: 1.5em;
    background-color: hsl(300, 70%, 60%);
    color: hsl(270, 95%, 95%);
    box-shadow: 1px 1px 2px hsla(0, 0%, 0%, 0.25);
    text-shadow: 2px 2px 0px hsla(0, 0%, 0%, 0.25);
    padding: 0.2em;
}

p.result-aliases {
    font-style: italic;
}

p.result-media-category {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1em;
}

p.result-description {
}


