/*******************************************************************************
 * Glossary page styles.
 ******************************************************************************/
#layout {
    display: flex;
    flex-direction: column;
    /* Ensures the layout is always at least 100% of the viewport height, i.e.
     * full screen height. */
    min-height: 100vh;
}

header {
    border-bottom: 1px solid #643830;
}

#search {
    /* Short for:
     * 
     *     flex-grow: 1;
     *     flex-shrink: 0;
     *     flex-basis: auto;
     *
     * Means the search area will grow to take up all the free space, and won't
     * shrink
     */
    flex: 1 0 auto;
}

footer {
    text-align: center;
    border-top: 1px solid #643830;
    color: #643830;
    padding: 16px;
}

div.toggle-box {
    display: none; 
    margin: 8px auto;
    padding: 8px;
    font-size: 0.8em;
    width: 50%;
    border: 1px solid #643830;
    background-color: #fff8f0;
}

span.toggle-box-heading {
    font-size: 1.1em;
    font-weight: bold;
}

a.invert-toggle-link {
    color: #f8e8c8;
    background-color: #643830;
}

#searchPanel {
    display: flex;
    flex-direction: column; 
    margin: 1em;
    padding: 1em;
}

.media-box-tag {
    font-weight: bold;
    background-color: #643830;
    color: hsl(270, 95%, 95%);
    /*box-shadow: 1px 1px 2px hsla(0, 0%, 0%, 0.25);*/
    border-radius: 4px;
    /*text-shadow: 2px 2px 0px hsla(0, 0%, 0%, 0.25);*/
    margin: 0.2em;
    padding: 0.2em;
}

#searchField {
    font-size: 2em;
    font-family: serif;
    width: 75%;
    margin: 0 auto;
}

#searchResults {
    display: flex;
    flex-direction: column; 
}

/*******************************************************************************
 * Search result styles
 ******************************************************************************/
div.result-entry {
    border: 5px double #643830;
    background-color: hsla(0, 100%, 100%, 0.25);
    /*box-shadow: 2px 2px 4px hsla(0, 0%, 0%, 0.25);*/
    width: 75%;
    margin: 1em auto;
    padding: 1em;
}

p.result-item {
}

span.result-item-title {
    font-weight: bold;
    font-size: 1.6em;
    background-color: #643830;
    color: hsl(270, 95%, 95%);
    box-shadow: 1px 1px 2px hsla(0, 0%, 0%, 0.25);
    text-shadow: 2px 2px 0px hsla(0, 0%, 0%, 0.25);
    padding: 0.2em;
}

p.result-aliases {
    font-style: italic;
}

p.result-media-category {
    font-family: serif;
    font-weight: bold;
    font-size: 1.1em;
}

span.result-media {
    background-color: #643830;
    color: hsl(270, 95%, 95%);
    /*box-shadow: 1px 1px 2px hsla(0, 0%, 0%, 0.25);*/
    border-radius: 4px;
    /*text-shadow: 2px 2px 0px hsla(0, 0%, 0%, 0.25);*/
    padding: 0.2em;
}

p.result-description {
    font-size: 1.3em;
}
